<!DOCTYPE html>
<html>
<head>
  <title>QEST - The Internet of Things broker that loves devices and developers</title>
  {{css "main.css"}}
  <!--[if lt IE 9]>
  {{js "html5-shiv.js"}}
  <![endif]-->
  {{js "bootstrap.js"}}
  <meta name="Description" content="QEST: The Internet of Things broker that loves devices and developers">
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="hidden-phone" href="https://github.com/mcollina/qest"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">QEST</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li><a href="http://mqtt.org" target="blank">MQTT</a></li>
            <li><a href="http://www.webofthings.org" target="blank">Web of Things</a></li>
            <li><a href="http://www.matteocollina.com" target="blank">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

  <div class="container">

    <div class="content">
      {{{body}}}
    </div>

    <footer>
    <p>&copy; <a href="http://www.matteocollina.com" target="blank">Matteo Collina</a> 2012</p>
    </footer>

  </div> <!-- /container -->

  {{#notest}}

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-35116605-1']);
    _gaq.push(['_setDomainName', 'qest.me']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function() {
     var ga = document.createElement('script');
     ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' ==
       document.location.protocol ? 'https://ssl' :
       'http://www') + '.google-analytics.com/ga.js';
     var s =
     document.getElementsByTagName('script')[0];
     s.parentNode.insertBefore(ga, s);
     })();

  </script>

  {{/notest}}
</body>
</html>

