<!DOCTYPE html>
<html>
<head>
  <title>QEST</title>
  {{css "main.css"}}
  {{js "jquery.min.js"}}
  <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
  <meta name="Description" content="QEST: a bridge between the Web of Things and MQTT">
</head>
<body>

  <div class="topbar">
    <div class="fill">
      <div class="container">
        <a class="brand" href="/">QEST</a>
        <ul class="nav">
          <li><a href="http://mqtt.org" target="blank">MQTT</a></li>
          <li><a href="http://www.webofthings.org" target="blank">Web of Things</a></li>
          <li><a href="http://www.matteocollina.com" target="blank">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="content">
      {{{body}}}
    </div>

    <footer>
    <p>&copy; <a href="http://www.matteocollina.com" target="blank">Matteo Collina</a> 2012</p>
    </footer>

  </div> <!-- /container -->

  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20777444-3']);
  _gaq.push(['_setDomainName', 'mqtt.matteocollina.com']);
  _gaq.push(['_trackPageview']);

  {{#notest}}
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  {{/notest}}

  </script>
</body>
</html>

