<div class="row">
  <div class="span13">
{{#markdown}}
NetworkButton Example
-----

NetworkButton is a forest of network enabled leds that switch on and off on simultaneosly.
It's also an example with MQTT-REST.

Let's build your own!
{{/markdown}}
    <img src="/images/schema.png">
    {{#notest}}
    <script src="https://gist.github.com/1704547.js"> </script>
    {{/notest}}
  </div>
</div>
